
<%= @book.title %>
Author: <%= @book.author.name %>
<div class="">
  Reviews:
  <% @reviews.each do |review| %>
    <div class="review">
      <p>Rating: <%= review.rating %></p>
      <p><a href="/users/<%= review.user.id %>"><%= review.user.first_name%></a> say: <%=review.content %></p>
      <p>Posted on: <%= review.created_at%></p>
    </div>
  <% end %>

  <div class="">
    <h2>Add a Review </h2>
    <form class="" action="/books/<%= @book.id %>/reviews" method="post">
      <label>Add a Review</label>
      <br>
      <textarea name="content"></textarea>
      <br>
      <label>Rating: </label>
      <select class="" name="rating">
        <option value="1">1</option>
        <option value="2">1</option>
        <option value="3">1</option>
        <option value="4">1</option>
        <option value="5">1</option>
      </select>
      <button type="submit" name="button">Submit Review</button>
    </form>

  </div>

</div>
