<!DOCTYPE html>
<html>
<head>
  <title>TddBookReviews</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


  <% if current_user %>
    <% if request.env['PATH_INFO'] != '/books/new' %>
      <a href="/books/new">Add Book and Review</a>
    <% end %>
  <form action="/sessions" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" name="Logout" value="Logout">
  </form>
  <% end %>



  <% if flash[:errors] %>
    <% flash[:errors].each do |e| %>
      <%= e %>
    <% end %>
  <% end %>

<%= yield %>

</body>
</html>
